.gridT{
    width: 1300px;
    flex-wrap: wrap;
    
}

.square{
    width: 300px;
    height: 400px;
    padding: 10px;
    background-color: rgb(27,27,27);
    border-radius: 10px;
    
    

    h1{
        font-size: 40px;
    }
    button:hover, button:focus{
        border: none;
        outline: none;
    }
    i{
        font-size: 80px;
        cursor: pointer;
    }
}
.square:hover{
    box-shadow: 0px 0px 2px  rgb(255, 222, 74);
    animation: pulse 1s infinite alternate;
}


.teamChange{
    display: flex;
    margin-bottom: 20px;
    select{
        border-radius: 10px;
    }
}


ul{
    list-style: none;
}
.teamsHomeP{
    background-color: rgb(27, 27, 27);
    padding: 5px;
    border-radius: 25px;
    border: solid 1px rgb(255, 222, 74);
}

strong{color: rgb(255, 222, 74)}


@keyframes pulse {
    0% {
        box-shadow: 0px 0px 2px rgb(255, 222, 74);
    }
    100% {
        box-shadow: 0px 0px 4px rgb(255, 222, 74);
    }
}