@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;



  

  background-color: #000000;
opacity: 1;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 10px ), repeating-linear-gradient( #36341e55, #36341e );



  /* background:
      conic-gradient(at 16.5px calc(100% - 16.5px),#0000 270deg,#0d0d0d 0) calc(16.5px + 12.375px) 0,
      linear-gradient(#ffe428 16.5px,#0000 0) 0 12.375px,
      conic-gradient(at 16.5px calc(100% - 16.5px),#0000 90deg,#ffe428 0 180deg, #0d0d0d 0),
      #575757;
background-size: calc(2*(16.5px + 12.375px)) calc(2*(16.5px + 12.375px)); */

}




h1 {
  font-family: Raleway;
  font-size: 3.2em;
  line-height: 1.1;
}

.b button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.b button:hover {
  border-color: rgb(255, 222, 74);
}
.b button:focus,
.b button:focus-visible {
  outline: 1px rgb(255, 222, 74) solid;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
